<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- 获取spring的参数 -->
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="springAppInstanceId" source="eureka.instance.instanceId"/>

    <!-- 测试环境 + 开发环境. 多个使用逗号隔开. -->
    <springProfile name="debug, dev, default, docker">
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="test, prod, prod-peer1, prod-peer2">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="com.xmutca.cloud.core.logback.UselessMessageFilter" />
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <jsonFactoryDecorator class="com.xmutca.incubator.core.logger.decorator.MyJsonFactoryDecorator"/>
                <providers>
                    <pattern>
                        <pattern>
                            {
                            "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "parent": "%X{X-B3-ParentSpanId:-}",
                            "exportable": "%X{X-Span-Export:-}",
                            "pid": "${PID:-}",
                            "service": "${springAppName:-}",
                            "instanceId": "${springAppInstanceId:-}",
                            "level": "%level",
                            "thread": "%thread",
                            "class": "%logger{40}.%M",
                            "content": "#asJson{%message}",
                            "exception": "%wEx"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
            <file>${LOG_FILE}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxHistory>30</maxHistory>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>2GB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <!-- 动态日志级别 -->
    <jmxConfigurator/>
</configuration>
