<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmutca.incubator.sso.repository.OauthTokenSecretRepository">
    <resultMap id="resultMap" type="com.xmutca.incubator.sso.model.OauthTokenSecret">
        <result column="client_id" property="clientId"/>
        <result column="access_token_id" property="accessTokenId"/>
        <result column="access_token_secret" property="accessTokenSecret"/>
        <result column="access_expire_time" property="accessExpireTime"/>
        <result column="refresh_token_id" property="refreshTokenId"/>
        <result column="refresh_token_secret" property="refreshTokenSecret"/>
        <result column="refresh_expire_time" property="refreshExpireTime"/>
        <result column="user_id" property="userId"/>
        <result column="enable" property="enable"/>
    </resultMap>

    <sql id="columns">
         enable, client_id, access_token_id, access_token_secret, access_expire_time, refresh_token_id, refresh_token_secret, refresh_expire_time, user_id
    </sql>

    <select id="getByAccessTokenId" resultMap="resultMap">
        select <include refid="columns"/>
        from oauth_token_secret
        where access_token_id = #{accessTokenId}
    </select>

    <select id="getByRefreshTokenId" resultMap="resultMap">
        select <include refid="columns"/>
        from oauth_token_secret
        where refresh_token_id = #{refreshTokenId}
    </select>

    <update id="updateAccessTokenIdAndSecret">
        update oauth_token_secret
        set access_token_id = #{accessTokenId}, access_token_secret = #{accessTokenSecret}, access_expire_time = #{accessExpireTime}
        where refresh_token_id = #{refreshTokenId}
    </update>

    <insert id="save">
        insert into oauth_token_secret(id, client_id, access_token_id, access_token_secret, access_expire_time, refresh_token_id, refresh_token_secret, refresh_expire_time, user_id)
        values(#{id}, #{clientId}, #{accessTokenId}, #{accessTokenSecret}, #{accessExpireTime}, #{refreshTokenId}, #{refreshTokenSecret}, #{refreshExpireTime}, #{userId});
    </insert>

    <update id="updateStatus">
        update oauth_token_secret
        set enable = 0
        where access_token_id = #{accessTokenId}
    </update>
</mapper>
