<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xmutca.incubator.passport.repository.OauthClientInfoRepository">
    <resultMap id="resultMap" type="com.xmutca.incubator.passport.model.OauthClientInfo">
        <result column="client_id" property="clientId"/>
        <result column="secret" property="secret"/>
        <result column="grant_types" property="grantTypes" typeHandler="com.xmutca.incubator.core.mybatis.handler.StringToListTypeHandler"/>
    </resultMap>

    <sql id="columns">
         client_id, secret, grant_types
    </sql>

    <select id="findAll" resultMap="resultMap">
        select <include refid="columns"/>
        from passport_client_info
    </select>

    <select id="getByClientId" resultMap="resultMap">
        select <include refid="columns"/>
        from passport_client_info
        where client_id = #{clientId}
    </select>
</mapper>
